@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "pragmatica", "helvetica", sans-serif;
    transition-property: all;
    transition-timing-function: cubic-bezier(.5,0,0,1);
    transition-duration: 500ms;
    max-width: 100vw;
    overflow-x: clip;
    scrollbar-width: none !important;
    overflow-y: auto;
    color: #6D6E71;
    background-color: #F1F2F2;
}

body::-webkit-scrollbar { 
    display: none !important;  /* Safari and Chrome */
}
body::-webkit-scrollbar {
    width: 0 !important;  /* Remove scrollbar space */  /* Optional: just make scrollbar invisible */
}

.bg-paper{
    background-image: url('/waterColorBg.jpg');
    background-size: 100vw;
    background-position: center;
}

.bg-paper-red{
    background-image: url('/waterColorBgRed.jpg');
    background-size: 100vw;
    background-position: center;

}

.bump{
    transition: transform 150ms ease-out, color 300ms ease-out, background-color 300ms ease-out;
}

.bump:active{
    transform: translateY(-8px);
}

a{
    transition: color 600ms;
    cursor: pointer;
}

a:hover{
    color:black;
}

button{
    transition: background-color 600ms;
    cursor: pointer;
}

h1{
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 130px; 
}

h2{
    font-size: 90px;
    font-weight: 700;
    line-height: 100px; 
}

h3{
    font-size: 80px;
    font-style: normal;
    font-weight: 200;
    line-height: 90px; 
}

h4{
    font-size: 50px;
    font-style: normal;
    font-weight: 200;
    line-height: 70px; 
}

h5{
   font-size: 36px;
   font-style: normal;
   font-weight: 200; 
   line-height: 50px;
}

h6{
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; 
}

p{
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}

.large-body{
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 35px; 
}

.nav-link{
    font-size: 16px;
    font-weight: 300;
}

button{
    cursor: pointer;
}

.footer-text{
font-size: 14px;
color: #6c6d70;
line-height: 25px;
font-weight: 200;
}


@media only screen and (max-width:1024px) {
    h1{
        font-size: 80px;
        line-height: 90px; 
    }
    
    h2{
        font-size: 35px;
        line-height: 45px;
    }
    
    h3{
        font-size: 60px;
        line-height: 70px;
    }
    
    h4{
        font-size: 45px;
        line-height: 60px;
    }
    
    


}

@media only screen and (max-width:768px) {
    h1{
        font-size: 70px;
        line-height: 80px; /* 121.212% */
    }
    
    h2{
        font-size: 25px;
        line-height: 35px;
    }
    
    
    h4{
        font-size: 40px;
        line-height: 50px;
    }

    
    

}

/* svelte-select stylings*/
.indicators{
    display: none !important;
    opacity: 0 !important;
}

.svelte-select{
    border-radius: 3px !important;
    border: 1px solid #C2D1D9 !important;
    cursor: pointer !important;
}

.svelte-select-list{
    cursor: pointer !important;
}

.svelte-select input{
    cursor: pointer !important;
}

::placeholder{
    color: #C2D1D9 !important;
    
}

input[type='textarea']::placeholder{
    margin-top:0;
}

.multi-item-clear{
    cursor: pointer !important;
    transform: translateY(-0.5px);
    color: #424B5A !important;
    margin-left: 1em !important;
    filter: invert(25%) sepia(15%) saturate(703%) hue-rotate(178deg) brightness(99%) contrast(85%);
    transition: all 300ms cubic-bezier(.5,0,0,1);
}

.multi-item-clear:hover{
    opacity: .4;
}




.multi-item{
    margin-right: 3em !important;
    background-color: transparent !important;
    outline-color:#C2D1D9 !important;
}

.multi-item-text, .svelte-select-list{
    transform: translateY(1px);
    color: #424B5A !important;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 700 !important;
    /* 142.857% */
}

